{% extends "base.html" %}

{% block content %}
  <h1>
    Tags
    <a href="{% url 'catalog:tag-create' %}" class="btn btn-primary" style="float: right">Add</a>
  </h1>
  <br>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for tag in tag_list %}
      <tr>
        <td>{{ tag }}</td>
        <td><a href="{% url 'catalog:tag-update' tag.id %}" class="btn btn-primary">Update</a></td>
        <td><a href="{% url 'catalog:tag-delete' tag.id %}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}